title: 0xaskar
email: askr10.askr@gmail.com
description: >- Penetration Tester | CTF Player Cybersecurity enthusiast with a strong interest in web security and ethical hacking.
github_username: AbdelruhmanAskar
minimal_mistakes_skin: dark
search: true

# Build settings
markdown: kramdown
remote_theme: mmistakes/minimal-mistakes
repository: "AbdelruhmanAskar/0xaskar.github.io"
# Outputting
permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones

include:
  - _pages

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

author:
  name   : "0xaskar"
  avatar : "https://github.com/AbdelruhmanAskar.png"
  bio    : "Welcome to my personal blog where I share my journey."
  links:
    - label: "Medium"
      icon: "fab fa-fw fa-medium"
      url: "https://medium.com/@0xAskar"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/abdelrahmanaskar10/"
    - label: "TryHackMe"
      icon: "fas fa-fw fa-terminal"
      url: "https://tryhackme.com/p/0xaskar"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/AbdelruhmanAskar"

footer:
  links:
    - label: "Medium"
      icon: "fab fa-fw fa-medium"
      url: "https://medium.com/@0xAskar"
    - label: "LinkedIn"
      icon: "fab fa-fw fa-linkedin"
      url: "https://www.linkedin.com/in/abdelrahmanaskar10/"
    - label: "TryHackMe"
      icon: "fas fa-fw fa-terminal"
      url: "https://tryhackme.com/p/0xaskar"
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/AbdelruhmanAskar"

defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: "_pages"
      type: pages
    values:
      layout: single
      author_profile: true

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
